.LogoutButton {
    padding: 13px 30px;
    background: palevioletred;
    border: none;
    outline: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}